body {
    margin: 0;
}

header {
    height: 1000px;
}

#signin {
    position: absolute;
    top: 1em;
    left: 1em;
}

#puser {
    position: absolute;
    top: 1em;
    right: 1em;
    color: #f1f1f1;
    font-size: 3em;
    font-style: Brandon Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    ;
}

header h1 {
    font-family: Brandon Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    position: absolute;
    top: 0em;
    left: 2.5em;
    color: #f1f1f1;
    margin-bottom: 10px;
    font-size: 4em;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: none;
}

header ul {

    position: absolute;
    top: 11em;
    left: 8em;
    color: #f1f1f1;
    text-decoration: none;


}

header li {
    list-style-type: none;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    color: #f1f1f1;
    font-family: Brandon Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-weight: 600;
    justify-content: space-between;

    text-decoration: none;
}

.monthbeer {
    position: absolute;
    right: 10%;
    align-items: center;
}

h2 {
    position: absolute;
    top: 0.5em;
    right: 30%;
    color: #79ffe7;
    margin-bottom: 10px;
    font-size: 3em;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -.01em;
    text-transform: none;
    font-family: Brandon Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    letter-spacing: 1px;
} 

h5 {
    position: absolute;
    top: 0px;
    right: 10%;
    color: #79ffe7;
    font-size: 2em;
    font-family: Brandon Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    letter-spacing: 1px;
}

.monthbeer img {
    position: relative;
    top: 2em;

}

section {
    height: 100vh;
}

.sec1 {
    background-color: #041e32;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    top: 0;
}

svg {
    position: absolute;
    bottom: 0;
}

.vide {
    width: 20px;
    height: 100px;
}

#presentation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_search {
    position: relative;
    margin: 8px;
}

#presentation2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
