body {
    margin: 0;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50em;

}

#signin {
    position: absolute;
    top: 7px;
    left: 7px;
}

header h1 {
    font-family: Brandon Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    position: absolute;
    top: 0em;
    left: 2.5em;
    color: #f1f1f1;
    margin-bottom: 10px;
    font-size: 91px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: none;
}

header ul {

    position: absolute;
    top: 11em;
    left: 12em;
    color: #f1f1f1;
    text-decoration: none;


}

header li {
    list-style-type: none;
    margin-bottom: 0.5em;
    font-size: 30px;
    color: #f1f1f1;
    font-family: Brandon Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-weight: 600;
    justify-content: space-between;

    text-decoration: none;
}

.monthbeer {
    position: absolute;
    top: 0em;
    right: 10%;
    align-items: center;
}

h2 {
    position: absolute;
    top: 1.45em;
    right: 30%;
    color: #cf060d;
    margin-bottom: 10px;
    font-size: 5em;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -.01em;
    text-transform: none;
    font-family: Brandon Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    letter-spacing: 1px;
}

.monthbeer img {
    position: relative;
    top: 1em;

}

section {
    height: 100vh0;
}

.sec1 {
    background-color: #041e32;
    width: 100%;
    height: 60em;
    position: relative
}

.sec2 {
    width: 100%;
}

svg {
    position: absolute;
    bottom: 0;
}

.sitenavigation {
    top: 1500px;
    justify-content: center;
    position: absolute;
    left: 40%;
}

.sitenavigation h2 {
    position: relative;
    left: 0;
    color: #041e32;
    font-family: Brandon Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-size: 50px;
    font-style: bold;
}

.grid {
    position: relative;
    top: 160px;
    width: 1300px;
    height: 635px;
    display: grid;
    grid-template:
        "a a b" 1fr
        "a a c" 289px/1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}


.search {

    width: 918px;
    height: 598px;
    background-image: url("searchlink.jpg");
}

.history {
    width: 289px;
    height: 289px;
    background-image: url("history1.jpg");
}

.connection {
    width: 289px;
    height: 289px;
    background-image: url("C:/xampp/htdocs/Beeradvisor/connection1.jpg");
}